---
layout: base.njk
---

<article class="article">
  <h1>{{ title }}</h1>
  <p class="date">{{ page.date | readableDate }}</p>
  {{ content | safe }}
  <a class="back" href="/essays/">LOAD "ALL ESSAYS",8</a>
</article>
